.news-page {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  width: 80%;
}

.news-page h1 {
  text-align: center;
  color: #ccffcc;
  background-color: #006600;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.news-page ul {
  list-style: none;
  padding: 0;
}

.news-page ul li {
  margin-bottom: 20px;
  background-color: #333333;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.news-page ul li h2 {
  font-size: 24px;
  margin-top: 0;
  color: #ccffcc;
  padding-bottom: 10px; /* Добавленный отступ между заголовком и описанием */
}

.news-page ul li p {
  font-size: 16px;
  color: #666666;
}

.news-page ul li span {
  font-size: 14px;
  color: #999999;
}

.news-page ul li a {
  color: #ccffcc;
  text-decoration: none;
}

.news-page ul li:hover {
  transform: translateY(-5px);
}

.news-page ul li:active {
  transform: translateY(-2px);
}

/* Добавленные стили */
.news-page h1,
.news-page ul {
  max-width: 900px;
  margin: 0 auto;
}

.news-page ul li {
  width: calc(100% - 0px);
  /* Подгоняем ширину элемента, учитывая padding */
}
