/* Отступы */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #005a43;
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th,
td {
  padding: 20px;
}
/* Типографика */

html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

thead th,
tfoot th {
  font-family: "Rock Salt", cursive;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}
/* Графика и цвета */

thead,
tfoot {
  background: #00332e; /* Dark blue-green background for thead and tfoot */
  color: white;
  text-shadow: 1px 1px 1px black;
}

thead th,
tfoot th,
tfoot td {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)); /* Gradient background for thead and tfoot cells */
  border: 3px solid #005a43; /* Green border for thead and tfoot cells */
}

tbody tr:nth-child(odd) {
  background-color: #005a43; /* Dark green background for odd rows */
}

tbody tr:nth-child(even) {
  background-color: #007b6b; /* Light blue-green background for even rows */
}

tbody tr {
  background-image: url();
}

table {
  background-color: #00332e; /* Dark blue-green background for the entire table */
}